<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5gQWZlSa1Z8n9u3-aZJvImrng6Pg-7Qw</string>
	<key>GCM_SENDER_ID</key>
	<string>888378093145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ANOTHERPRICE</string>
	<key>PROJECT_ID</key>
	<string>anotherprice-b78d9</string>
	<key>STORAGE_BUCKET</key>
	<string>anotherprice-b78d9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888378093145:ios:a4b18ae5ba3e267d8b8b48</string>
</dict>
</plist>