<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Noto_Serif_TC.ttf</string>
		<string>LXGW_WenKai_Mono_TC_Light.ttf</string>
		<string>LXGW_WenKai_Mono_TC_Regular.ttf</string>
		<string>BubblegumSans_Regular.ttf</string>
	</array>
</dict>
</plist>
